[submodule "third_parties/Unity"]
	path = third_parties/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "third_parties/spdlog"]
	path = third_parties/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_parties/miniupnpc"]
	path = third_parties/miniupnpc
	url = https://github.com/transmission/miniupnpc.git
[submodule "third_parties/libzmq"]
	path = third_parties/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "third_parties/third_parties/libsodium"]
	path = third_parties/third_parties/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "third_parties/curl"]
	path = third_parties/curl
	url = https://github.com/curl/curl.git
